{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
        
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Stock Name</th>
                <th>Price</th> 
                <th>Quantity</th>
                <th>Action</th>
                <th>Transacted At</th>
            </tr>
        </thead>
        
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{item.stock_name}}</td>
                <td>{{item.price}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.action}}</td>
                <td>{{item.transaction_time}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}